.layout {
  max-width: calc(970px + 80px);
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  column-gap: 20px;

  &.mobile {
    padding: 0 24px;
  }
}

.counter {
  width: 200px;
  flex: 0;
  min-width: 0;

  @media (max-width: 768px) {
    display: none;
  }
}