

.header {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border-color);
  padding-top: 100px;

  & > section {
    max-width: var(--content-width);
    margin: 0 auto;
  }
}

.company {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-weight: 800;
  font-size: 26px;
  color: var(--logo-color-1);
}

.title {
  font-size: 40px;
  margin-bottom: 50px;
}

.info {
  display: flex;
  align-items: flex-end;
}

.profile {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 16px;

  & > img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
  }

  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .username {
      font-size: 26px;
      font-weight: 700;
      display: flex;
      column-gap: 6px;
      align-items: center;
    }

    .badge {
      display: flex;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: var(--logo-color-1);
      background-image: url('/images/icon/badge_checked.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .date {
      font-size: 24px;
      font-weight: 600;
      color: var(--passive-text-color);
    }
  }
}

.reactions {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 30px;
  color: var(--passive-text-color);
  
  & > li {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
}

.body {
  position: relative;
  width: var(--content-width);
  margin: 74px auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;


  .react-container {
    position: absolute;
    left: 100%;
    padding-left: 60px;
    top: 0;
    height: 100%;
  }

  .react {
    position: sticky;
    top: 80px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: var(--logo-color-2);
    padding: 40px 0;
    
    & > button {
      background-color: transparent;
      outline: 0;
      border: none;
      transition: opacity 0.15s;

      &:hover {
        opacity: 0.4;
      }
    }

    & > span[role="seperator"] {
      height: 2px;
      border-radius: 1px;
      width: 34px;
      background-color: white;
      opacity: 0.5;
    }
  }
}

.image {
  margin-bottom: 74px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  & > img {
    margin: 0 auto;
  }

  & > figcaption {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.comment-list {
  border-top: 1px solid var(--border-color);
  padding-top: 74px;
  margin-bottom: 74px;

  & > * {
    width: var(--content-width);
    margin: 0 auto;
  }

  & > header {
    font-size: 34px;
    font-weight: 700;
    display: flex;
    column-gap: 10px;
    margin-bottom: 18px;

    & > span:nth-of-type(2) {
      color: var(--logo-color-1);
    }
  }
}

.comment {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  column-gap: 16px;
  
  & > img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
  }

  & > div:nth-of-type(1) {
    flex: 1;

    & > p:nth-child(1) {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 2px;
    }

    & > p:nth-child(2) {
      font-size: 24px;
      font-weight: 500;
    }
  }

  & > div:nth-of-type(2) {
    & > div:nth-of-type(1) {
      font-size: 24px;
      display: flex;
      align-items: center;
      column-gap: 16px;
      margin-bottom: 12px;

      & > time {
        font-weight: 400;
        color: var(--passive-text-color);
      }

      & > div {
        font-weight: 600;
        color: var(--logo-color-1);
      }
    }

    & > div:nth-of-type(2) {
      height: 36px;
      display: flex;
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      align-items: center;

      & > button {
        width: 50px;
        border: 0;
        outline: 0;
        background-color: transparent;
        transition: opacity 0.15s;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          opacity: 0.4;
        }
      }

      & > span {
        width: 2px;
        height: 10px;
        border-radius: 1px;
        background-color: var(--border-color);
        opacity: 0.5;
      }
    }
  }
}