@import "../../styles/variables.scss";

.radio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  border: 1px solid var(--radio-border-color, $color-border);
  background-color: var(--radio-background-color, $color-background);
  transition: background-color 0.15s, border-color 0.15s;

  &:before {
    content: "";
    width: 12px; height: 12px;
    border-radius: 50%;
    background-color: var(--radio-icon-color, transparent);
    transition: background-color 0.15s;
  }

  @media (hover:hover) and (pointer: fine) {
    &:hover, label:hover + &, label:hover > & {
      background-color: var(--radio-hover-background-color, $color-hover);
      border-color: var(--radio-hover-border-color, $color-text-passive-2);

      &:before {
        background-color: var(--radio-hover-icon-color, $color-text-passive-2);
      }
    }
  }

  &.checked, label > &.checked {
    background-color: var(--radio-checked-background-color, $color-primary);
    border-color: var(--radio-checked-border-color, $color-primary);

    &:before {
      background-color: var(--radio-checked-icon-color, white);
    }
  }

  & > input {
    display: none;
  }
}