@import "../../../../../../styles/variables.scss";

$point-1: 1394px;
$point-2: 1065px;
$point-3: 735px;

.header {
  padding: 40px 0 10px 0;
  width: 1300px;
  margin: 0 auto;
  margin-top: $header-height;

  @include title-2;

  @media (max-width: $point-1) {
    width: 970px;
  }

  @media (max-width: $point-2) {
    width: 640px;
  }

  @media (max-width: $point-3) {
    width: 310px;
  }

  &.mobile {
    width: 100%;
    padding: 40px 20px 10px 20px
  }
}

.nav {
  height: 42px;
  border-bottom: 1px solid $color-border;

  display: flex;
  justify-content: center;
  background-color: $color-background;
  z-index: 100;

  position: sticky; top: 0;
}

.tabs {
  display: flex;
  column-gap: 24px;

  a {
    display: flex;

    span {
      height: 42px;
    }
  }

  width: 1300px;
  margin: 0 auto;

  @media (max-width: $point-1) {
    width: 970px;
  }

  @media (max-width: $point-2) {
    width: 640px;
  }

  @media (max-width: $point-3) {
    width: 310px;
  }


  &.mobile {
    width: 100%;
    padding: 0 20px;
  }
}