@import "../../styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  outline: none;
  cursor: default;
  justify-content: center;

  @include ui-2;

  &.small {
    min-width: 60px;
    height: 32px;
    padding: 0 8px;
    column-gap: 8px;
  }

  &.medium {
    min-width: 80px;
    height: 42px;
    padding: 0 20px;
    column-gap: 8px;
  }

  &.big {
    min-width: 100px;
    height: 52px;
    padding: 0 28px;
    column-gap: 8px;
  }

  &.filled {
    border: 0;
    background-color: var(--button-background-color, $color-primary);
    color: var(--button-text-color, white);
    transition: opacity 0.15s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.8;
      }
    }

    &:active {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &.outlined {
    border: 1px solid var(--button-border-color, $color-border);
    background-color: var(--button-background-color, $color-background);
    color: var(--button-text-color, $color-text);
    transition: background-color 0.15s, border-color 0.15s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--button-hover-background-color, $color-hover);
        border-color: var(--button-hover-border-color, $color-border);
        color: var(--button-hover-text-color, $color-text);
      }
    }

    &:active {
      background-color: var(--button-hover-background-color, $color-hover);
      border-color: var(--button-hover-border-color, $color-border);
      color: var(--button-hover-text-color, $color-text);
    }
  }
}