
.button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  outline: none;
  cursor: default;

  &.small {
    min-width: 60px;
    height: 32px;
    padding: 0 8px;
    column-gap: 8px;
  }

  &.medium {
    min-width: 80px;
    height: 42px;
    padding: 0 20px;
    column-gap: 8px;
  }

  &.big {
    min-width: 100px;
    height: 52px;
    padding: 0 28px;
    column-gap: 8px;
  }

  &.filled {
    border: 0;
    background-color: var(--logo-color-1);
    color: white;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &.outlined {
    border: 1px solid var(--logo-color-1);
    background-color: white;
    color: var(--logo-color-1);

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}