@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor {
  outline: none;
  padding: 40px;
  padding-top: calc(40px + var(--headline-height, 0px));
  padding-bottom: 200px;
  flex: 1;

  & > * {
    max-width: $max-article-editor-width;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  & p {
    @include paragraph-1;
  }

  & h2 {
    @include editor-title-1;
  }

  & h3 {
    @include editor-title-2;
  }

  & h4 {
    @include editor-title-3;
  }

  & hr {
    border: none;
    height: 1px;
    background-color: $color-border;
    margin: 24px auto;
  }
}