@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor {
  outline: none;
  padding: 40px;
  padding-top: calc(40px + var(--headline-height, 0px));
  padding-bottom: 200px;
  flex: 1;

  & > * {
    max-width: $max-article-editor-width;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  p {
    @include paragraph-1;
  }

  h2 {
    @include editor-title-1;
  }

  h3 {
    @include editor-title-2;
  }

  h4 {
    @include editor-title-3;
  }

  hr {
    border: none;
    height: 1px;
    background-color: $color-border;
    margin: 24px auto;
  }

  ul, ol {
    padding-left: 20px;
  }

  li:has(ul), li:has(ol) {
    list-style: none;
  }

  blockquote {
    position: relative;
    border: 1px solid $color-primary;
    border-radius: 10px;
    padding: 24px 20px;
    margin: 9px auto 17px auto !important;
  
    &:before, &:after {
      content: "";
      position: absolute;
  
      background-color: $color-background;
      width: 26px; height: 18px;
      padding: 0 4px;
      color: $color-primary;
  
      background-image: url("/images/etc/quote-icon.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    
      & > * {
        fill: $color-primary;
      }
    }
  
    &:before {
      top: -9px;
      left: 18px;
    }
  
    &:after {
      bottom: -9px;
      right: 18px;
      transform: rotate(180deg);
    }
  }
}