@import "../../../../styles/variables.scss";

.article {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.header {
  margin-top: 129px;
  display: flex;
  flex-direction: row;
  align-items: start;

  & > section {
    max-width: var(--content-width);
    display: flex;
    flex-direction: row;
  }
}

.editorProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 105px;
  border-right: 1px solid #d9d9d9;
  margin-right: 30px;
  margin-left: 69px;
}

.profilePic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 24px;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  @include ui-1;
  font-weight: 400;
  color: $color-text-passive-2;
}

.name {
  @include title-1;
}

.rowSetting {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introduce {
  @include ui-1;
  height: 104px;
  font-weight: 400;
  color: #454545;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 179px;
  justify-content: space-between;
  margin-top: 16px;
}

.subButton {
  @include ui-2;
  width: 78px;
  height: 32px;
  background-color: white;
  border: 1px solid $color-border;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px 7px 14px;
}

.writeButton {
  @include ui-2;
  width: 91px;
  height: 32px;
  background-color: $color-primary;
  border-style: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px 7px 14px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: row;
  width: 1230px;
}
