.container {
  transform: translateX(49px);

  & > .title {
    margin-bottom: 12px;
    margin-left: 61px;
    color: white;
  
    & > span:nth-child(1) {
      font-size: 30px;
      font-weight: 700;
    }
  
    & > span:nth-child(2) {
      font-size: 15px;
      font-weight: 500;
      margin-left: 6px;
    }
  }
}

.list {
  display: flex;
  column-gap: 25px;

  & > button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    & path {
      transition: opacity 0.15s;
    }
    
    &:hover path {
      opacity: 0.5;
    }
  }
}

.roll_container {
  width: 380px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.roll {
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(.17,.67,.43,1);
  will-change: transform;
}

.card {
  display: inline-flex;
  width: 380px;
  flex-shrink: 0;
  background-color: transparent;
  color: var(--text-color);
}