.toolbar {
  display: flex;
  align-items: center;
  height: 74px;
  border-bottom: 1px solid var(--border-color);
  column-gap: 10px;
  padding: 0 10px;

  .divider {
    width: 2px;
    height: 24px;
    margin: 0 10px;
    background-color: var(--placeholder-color);
  }

  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 6px;
    width: 42px;
    height: 42px;
    transition: background-color 0.11s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.container {
  width: var(--content-width);
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-bottom: 200px;

  .editor {
    position: relative;

    .body {
      min-height: 600px;
      outline: none;
      padding: 20px;
    }
  }

  .placeholder {
    position: absolute;
    top: 20px; left: 20px;
    color: var(--placeholder-color);
    font-size: 16px;
    pointer-events: none;
  }
}