$color-text: #262626;
$color-border: #e0e0e0;
$color-background: #ffffff;
$color-primary: #2e7b5a;
$color-text-passive-1: #5f5f5f;
$color-text-passive-2: #9a9a9a;
$color-text-passive-3: #c4c4c4;
$color-link: #3183ff;
$color-foreground: #f7f7f7;
$color-red: #ff4343;
$color-blue: #5081ff;
$color-yellow: #ff9f00;
$color-hover: rgba(0, 0, 0, 0.07);

$mobile-breakpoint: 768px;
$window-min-width: 320px;
$max-content-width: 1300px;
$max-article-width: 640px;
$max-article-headline-width: 970px;
$max-article-editor-width: 860px;
$header-height: 60px;

@mixin card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-gap: 20px;
  justify-content: center;
}

$font-family: "Pretendard", Arial, Helvetica, sans-serif;

@mixin font-style($weight, $size, $line) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

@mixin title-1 {
  @include font-style(700, 40px, 48px);
}

@mixin title-2 {
  @include font-style(700, 24px, 30px);
}

@mixin editor-title-1 {
  @include font-style(700, 32px, 1.4);
}

@mixin editor-title-2 {
  @include font-style(700, 24px, 1.4);
}

@mixin editor-title-3 {
  @include font-style(700, 20px, 1.4);
}

@mixin ui-1($weight: 400) {
  @include font-style($weight, 16px, 22px);
}

@mixin ui-2($weight: 400) {
  @include font-style($weight, 14px, 18px);
}

@mixin ui-3($weight: 400) {
  @include font-style($weight, 12px, 16px);
}

@mixin paragraph-1($weight: 400) {
  @include font-style($weight, 18px, 1.7);
}

@mixin paragraph-2($weight: 400) {
  @include font-style($weight, 16px, 1.7);
}

@mixin bottom-border($color: $color-border) {
  border-bottom: 1px solid $color;
}

@mixin bottom-border-no-last($color: $color-border) {
  &:not(:last-child) {
    @include bottom-border($color);
  }
}

@mixin hover-background($color: $color-hover) {
  &:hover {
    background-color: $color;
  }
}

@mixin icon-color($color: $color-text) {
  & svg > * {
    stroke: $color;
  }
}

@mixin max-width-container($padding: 40px) {
  padding: 0 $padding;
  max-width: calc($max-content-width + ($padding * 2));
  width: 100%;
}

@mixin mobile-padding($padding: 20px) {
  padding: 0 $padding;
}