.sector {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b8b8;
  background-color: transparent;
  text-align: start;

  width: max-content;
  height: 400px;
  justify-content: space-between;
  margin: 15px;

  & .reportImg {
    width: 380px;
    height: 207px;
    border-radius: 20px 20px 0px 0px;
  }
  & .reportTextbox {
    width: 329px;
    height: 165px;
    margin: 10px 20px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    :hover {
      cursor: pointer;
    }
  }
}

.reportCompany {
  font-size: 25px;
  font-weight: 800;
  color: #454545;
}

.reportTitle {
  font-size: 17px;
  font-weight: 700;
  color: #6c6c6c;
}

.reportInfo {
  color: #9a9a9a;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .reportCreator {
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border-style: none;
    color: #9a9a9a;
  }
  & .buttons {
    display: flex;
    width: 108px;
    flex-direction: row;
    justify-content: space-between;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    background-color: transparent;
    color: #9a9a9a;
  }
}
