@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
  --main-color: #2E467B;
  --text-color: #454545;
  font-family: "Pretendard Variable", Arial, Helvetica, sans-serif;

  --window-min-width: 1360px;
  --content-width: 1200px;

  color: var(--text-color);
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.prototype-icon {
  width: 36px;
  height: 36px;
  border: 2px solid black;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
