@import "../../styles/variables.scss";

.header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 40px;

  position: fixed;
  width: 100%;
  top: 0; left: 0;

  background-color: $color-background;
  border-bottom: 1px solid $color-border;
  z-index: 200;

  transition: background-color 0.15s, border-color 0.15s;

  .logo-invert > path {
    fill: white; 
  }
  
  &.invert {
    background-color: transparent;
    border-color: transparent;
    color: white;
  }

  & > nav {
    display: flex;
    align-items: center;
    column-gap: 36px;

    & > a {
      transition: opacity 0.15s;

      & > h1 {
        display: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      column-gap: 24px;

      & > a {
        padding: 4px 6px;
        border-radius: 6px;
        transition: background-color 0.1s;
        
        &:hover {
          background-color: $color-hover;
        }
      }
    }
  }

  & > ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 12px;

    & > .non-icon-button {
      padding: 0 6px;
    }

    & > li {
      display: flex;
      align-items: center;

      .button-invert-filled {
        color: black;
        background-color: white;

        &:hover {
          color: black;
        }
      }

      .button-invert-outlined {
        background-color: transparent;
        color: white;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: white;
        }
      }

      .icon-invert {
        & > g {
          stroke: white;
        }
      }
    }

    & .profile {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $color-blue;
      border: 0;
      outline: none;
      margin: 0 6px;

      & > span {
        display: none;
      }
    }
  }
}