@import "../../styles/variables.scss";

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  border: 1px solid var(--checkbox-border-color, $color-border);
  background-color: var(--checkbox-background-color, $color-background);
  transition: background-color 0.15s, border-color 0.15s;

  & svg > path {
    fill: var(--checkbox-icon-color, $color-text-passive-1);
  }

  @media (hover:hover) and (pointer: fine) {
    &:hover, label:hover + &, label:hover > & {
      background-color: var(--checkbox-hover-background-color, $color-hover);
      border-color: var(--checkbox-hover-border-color, $color-text-passive-2);

      & svg > path {
        fill: var(--checkbox-hover-icon-color, $color-text);
      }
    }
  }

  &.checked, label > &.checked {
    background-color: var(--checkbox-checked-background-color, $color-primary);
    border-color: var(--checkbox-checked-border-color, $color-primary);

    & svg > path {
      fill: var(--checkbox-checked-icon-color, white);
    }
  }

  & > input {
    display: none;
  }
}