@import "../../styles/variables.scss";

.tab {
  padding: 8px 0;
  position: relative;
  color: $color-text-passive-2;
  cursor: default;

  display: flex;
  align-items: center;

  transition: color 0.1s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-text-passive-1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: min(100%, 12px);
    background-color: transparent;
    transition: background-color 0.1s;
  }

  &.active {
    color: $color-text;

    &:after {
      background-color: $color-primary;
    }
  }
}