@import "../../styles/variables";

.footer {
  background-color: $color-foreground;
  height: 200px;
  padding: 0 40px;
  color: $color-text-passive-2;

  display: flex;
  align-items: center;
  justify-content: center;

  & > .container {
    max-width: $max-content-width;
    width: 100%;

    & > h2 {
      @include ui-1(700);
      margin-bottom: 8px;
    }
  
    & > ul {
      list-style: none;
      margin-bottom: 16px;

      & > li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      a {
        transition: color 0.15s;
      }

      a:hover {
        color: $color-text;
        text-decoration: underline;
      }
    }
  }

}