.article {
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 32px;
  padding-top: 100px;
  display: grid;
  & > section {
    margin: 0 auto;
    max-width: var(--content-width);
  }
}

.headerTitle {
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: 700;
}

.buttonLine {
  display: flex;
  width: 1206px;
  flex-direction: column;
  align-items: flex-end;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.body {
  display: flex;
  flex-direction: row;
  width: 1230px;
}
