.pic {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
  }

  & > div {
    display: flex;
    column-gap: 14px;
    margin-bottom: 30px;

    & > button {
      width: 120px;
    }
  }

  & > p {
    font-size: 18px;
  }

  margin-bottom: 30px;
}